@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

header{
  background-color: #1d2c3d;
  display: flex;
  height: 100px;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #f2f2f2;
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: #ffffff;
  padding:20px;
  margin:20px;
  text-align: left;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: #000000;
  padding:15px;
  margin:15px;
}

h3{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #000000;
  padding:10px;
  margin:10px;
}

p{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #000000;
  padding:10px;
  margin:10px;
}


a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #44a5c9;
  transition: 0.6s;
}

a:active {
  text-decoration: none;
  color: #44a5c9;
}

#class-diagram-image{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: projimage;
}
#project-summary{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: projsummary;
}

#design-patterns{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: designpatterns;
}
#class-diagram{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: classdiagram;
}

#education{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: education;
}

#work-experience{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: workexp;
}
#tech-skill{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: techskill;
}

#relevant-cw{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: relevantcw;
}

#languages{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: languages;
}

#about-me{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: aboutme;
}

#contact-information{
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  grid-area: contactinfo;
}



.resume-main{
  display: grid;
  max-width: 960px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  ". education"
  ". workexp"
  ". techskill"
  ". relevantcw"
  ". languages";
  grid-area: main;
}

.home-main{
  display: grid;
  max-width: 960px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  ". aboutme"
  ". contactinfo";
  grid-area: main;
}


.project-main{
  display: grid;
  max-width: 960px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  ". projsummary"
  ". designpatterns"
  ". classdiagram"
  ". projimage";

  grid-area: main;
}

.contact-info li{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.navigation li{
  font-size: 20px;
  padding: 10px;
  margin:10px;
  font-family: 'Quicksand', sans-serif;
  color:#ffffff;
  display: inline-block;
}

.work-list li{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.tech-skill-list li{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.um-list li{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin:10px;

}

.nvcc-list li{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin:10px;

}

.course-work-table td{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin:10px;
  text-align: left;

}

.course-work-table {
border-collapse: collapse;
min-width: 300px;
}

.course-work-table th{
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
  margin:10px;
  width: 500px;
  text-align: left;
  font-weight: bolder;
  background-color: #1d2c3d;
}

.course-work-table tr:nth-child(even) {
  background-color: #dbdbdb;
}

.language-list li{
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  padding: 10px;
  margin:10px;
}

.side-bar {
height: 960px;
width: 325px;
position: sticky;
float: left;
top: 0px;
background-color: #8395B2;
display: flex;
align-items: stretch;
}

.side-bar li {
padding: 15px;
margin: 15px;
font-size: 20px;
display: block;
font-family: 'Quicksand', sans-serif;
}

.proj-image{
  padding: 15px;
  margin: 15px;
}
